<h1 class="title is-1">Order ##{order.id}</h1>
<p>Order Date: <%= order.order_date %></p>
<p>Total Price: <%= number_to_currency(order.total_price) %></p>
<p>Customer ID: <%= order.customer_id %></p>
<p>Status: <%= order.status %></p>