<p>You have already visted this page <%= pluralize @visit_count, 'time' %>. It's time to purchase!</p>
<div class="container">
  <%= render partial: 'product',
             object: @product,
             locals: { show_link: true } %>
</div>